extends ../layout

block content

  h1 #{t('home.genre')}: #{genre.name} 

  div(style='margin-left:20px;margin-top:20px')

    h4 #{t('home.book')}:
    if books.length
      dl
        each book in books
          dt
            a(href=`/books/${book.book.bookId}`) #{book.book.title}
          dd #{book.book.summary}
    else
      p #{t('home.no_book')}:
  hr
  p
    a(href=`/genres/delete/${genre.genreId}`) #{t('delete.genre_delete')}

  p
    a(href=`/genres/update/${genre.genreId}`) #{t('delete.genre_update')}
